<div class="product-section">
    <div class="product-information">
        <div class="product-header">
            <h3>{{product.name}}</h3>
        </div>
        <div class="product-body">

            <div class="slider">
                <figure class="single-product-img">
                    <img src="/images/products/{{product.image}}">
                    <img src="/images/products/{{product.image_2}}">
                </figure>
            </div>

            <div class="product-price">
                <a href="#" class="big-btn primary-btn">Add to cart</a>
                <span class="price">{{product.price}}$</span>
            </div>
        </div>
    </div>
</div>