<div class="container">
    <div class="row">
        {{#each categories}}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{{this.name}}</h1>
                </div>
                <div class="card-body">
                    <p>{{this.description}}</p>
                </div>
                <div class="card-footer">
                    <div class="btnBox">
                        <a class="btn btn-primary" href="/products/{{this.category_id}}?page=1">See products</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>