<div id="loadingDiv" class="loading"><img style="margin-top: 130px; margin-left: 600px;"
        src="/images/Reload-circle.gif"></div>
<script>document.getElementById('loadingDiv').style.display = 'none';</script>

<div id="container" class="container">
    <div class="row">
        {{#each departments}}
        <div class="col-md-4 d-flex align-items-stretch">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{{this.name}}</h1>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{this.description}}</h4>
                </div>
                <div class="card-footer">
                    <div class="btnBox">
                        <a onclick="showLoading()" class="btn btn-primary" href="/categories/{{this.department_id}}">See
                            categories</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>