<div class="hero-text-box">
        <div class="hero-box-text">
                <h2>Welcome to Fashion's Online Shop</h2>
                <a href="/select/1" class="btn primary-btn" onclick="hideButton()">Let's start</a>
                <img class="reloadGif" src="/images/icons/Reload-circle.gif">
        </div>
    </div>

