<div class="hero-text-box">
        <div class="hero-box-text">
                <h2>Welcome to Fashion's Online Shop</h2>
                <a href="#" class="btn primary-btn">Let's start</a>
        </div>
    </div>
