<footer>
    <div class="row">
        <a href="https://www.facebook.com/"><img src="/icons/icons-facebook-grey.png"></a>
        <a href="https://www.pinterest.com/"><img src="/icons/icons-pinterest-grey.png"></a>
        <a href="https://www.instagram.com/"><img src="/icons/icons-instagram-grey.png"></a>
        <a href="https://twitter.com/?lang=en"><img src="/icons/icons-twitter-grey.png"></a>
    </ul>
    </div>
</footer>