{{#if success}}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h5 class="text-center">{{success}}</h5>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>

{{/if}}


{{#if error}}
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h5 class="text-center">{{error}}</h5>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}