<nav class="navbar navbar-expand-sm   navbar-light bg-light">
    <img src="/images/tshirtshop.png" width="150p" height="40">

    {{#if user}}
    <div class="col-sm-7">
        <label id="userLabel">{{user.email}}</label>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/shopCart"><img id="cartImg" src="/icons/icons-bag.png"></a>
            </li>
            <li class="nav-item">
                <div class="btn-group dropleft">
                    <input type="image" id="menuBtn" src="/icons/cons-burger-black.png" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu" aria-labelledby="menuBtn">
                        <a class="dropdown-item" href="/signout">Logout <i class="fas fa-sign-out-alt fa-2"></i></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {{else}}
    <div class="col-sm-7">
        <label id="userLabel">User name</label>
    </div>
    <div class="shoping">
        <div class="row">
            <div class="btn-group dropleft">
                <input type="image" id="menuBtn" src="/icons/cons-burger-black.png" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="menuBtn">
                    <a class="dropdown-item" href="/signin">Signin <i class="fas fa-sign-in-alt fa-2"></i></a>
                    <a class="dropdown-item" href="/signup">Signup <i class="fas fa-user-plus fa-2"></i></a>
                    <a class="dropdown-item" href="/logout">Logout <i class="fas fa-sign-out-alt fa-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</nav>